@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf')
    format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400 700;
}

:root {
  --white: #ffffff;
  --eggshell: #f3e5d7;
  --wenge-brown: #5f564d;
  --dark-charcoal: #312e2c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--eggshell);
}

.recipe-page {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 736px;
  height: 1708px;
  padding: 40px;

  border-radius: 24px;
  background-color: var(--white);
}

.hero img {
  width: 100%;

  border-radius: 12px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header h1 {
  font-family: 'Young serif', sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-charcoal);
  line-height: 100%;
}

.header p {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--wenge-brown);
  line-height: 150%;
}
