@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400 700;
}

:root {
  --dark-raspberry: #7a284e;
  --brandy-red: #854632;
  --white: #ffffff;
  --white-coffee: #e3ddd7;
  --snow: #fff7fb;
  --eggshell: #f3e5d7;
  --wenge-brown: #5f564d;
  --dark-charcoal: #312e2c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--eggshell);
}

ul,
ol {
  list-style: none;
}

hr {
  width: 100%;
  height: 1px;
  border: 0;

  background-color: var(--white-coffee);
}

.recipe-page {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 736px;
  height: 1708px;
  padding: 40px;

  border-radius: 24px;
  background-color: var(--white);
}

.hero img {
  width: 100%;

  border-radius: 12px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header > h1 {
  font-family: 'Young serif', sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-charcoal);
  line-height: 100%;
}

.header > p,
.nutrition > p {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--wenge-brown);
  line-height: 150%;
}

.preparation-time {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 28px;

  border-radius: 12px;
  background-color: var(--snow);
}

.preparation-time > h2 {
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: var(--dark-raspberry);
  line-height: 100%;
}

.preparation-time > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.preparation-time > ul > li {
  display: flex;

  padding-left: 8px;

  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--wenge-brown);
  line-height: 150%;
}

.preparation-time > ul > li > .bullet {
  position: relative;

  min-width: 16px;
  height: 24px;
  margin-right: 16px;
}

.preparation-time > ul > li > .bullet::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: var(--dark-raspberry);
}

.preparation-time > ul > li > span > .strong,
.instructions > ul > li .strong {
  font-weight: 700;
}

.ingredients,
.instructions,
.nutrition {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ingredients > h2,
.instructions > h2,
.nutrition > h2 {
  font-family: 'Young Serif', sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  color: var(--brandy-red);
  line-height: 100%;
}

.ingredients > ul,
.instructions > ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ingredients > ul > li,
.instructions > ul > li {
  display: flex;

  padding-left: 8px;

  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--wenge-brown);
  line-height: 150%;
}

.ingredients > ul > li > .bullet {
  position: relative;

  min-width: 16px;
  height: 24px;
  margin-right: 16px;
}

.number {
  min-width: 16px;
  height: 24px;
  margin-right: 16px;
}

.instructions > ul > li > .number {
  font-weight: 700;
  color: var(--brandy-red);
}

.ingredients > ul > li > .bullet::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  width: 4px;
  height: 4px;

  border-radius: 50%;
  background-color: var(--brandy-red);
}

.nutrition > table {
  display: block;
}

.nutrition > table > tbody {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 36px 48px 48px 36px;
}

.nutrition > table > tbody > tr {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 12px 32px;

  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
}

.nutrition > table > tbody > tr:first-child {
  padding-top: 0;
}

.nutrition > table > tbody > tr:last-child {
  padding-bottom: 0;
}

.nutrition > table > tbody > tr:not(:last-child) {
  border-bottom: 1px solid var(--white-coffee);
}

.nutrition > table > tbody > tr > td {
  flex-basis: 288px;
}

.nutrition > table > tbody > tr > td:first-child {
  font-weight: 400;
  color: var(--wenge-brown);
}

.nutrition > table > tbody > tr > td:last-child {
  font-weight: 700;
  color: var(--brandy-red);
}

@media (max-width: 375px) {
  .recipe-page {
    gap: 0;

    padding: 0;
    height: 2043px;
  }

  .hero {
    height: 171px;
  }

  .hero img {
    width: 100%;
    height: 100%;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 40px 32px;
  }

  .header > h1 {
    font-size: 36px;
  }

  .preparation-time {
    padding: 24px;
  }
}
